@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$gray: #bcbcbc;
$dark-gray: #827272;

.App {
  font-family: 'Lato', sans-serif;
}

.events-container {
  max-width: 65%;
  margin: 0 auto;
  margin-top: 15px;
}

.event-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 30px;
}

.event-info {
  margin: auto 0;
  margin-bottom: 10px;
}

.event-image {
  width: 250px;
  height: 250px;
  margin: auto 0;
  border-radius: 2px;
}

.placeholder-image {
  width: 250px;
  height: 140px;
  border-radius: 2px;
  background-color: white;
}

.event-image-container {
  margin: auto 0;
  margin-left: 15px;
}

.solid {
  border: 0;
  border-top: 1px solid #CCC;
  margin-bottom: 35px;
}

.info-btn {
  background-color: #ffffff;
  border: 1px solid $dark-gray;
  padding: 12px 32px;
  border-radius: 3px;
  color: $dark-gray;
  font-size: 14px;
  font-weight: 500;
  
  &:hover {
    background-color: $gray;
    border-color: $gray;
    color: black;
  }
}


h1 {
  color: $dark-gray;
  font-size: 1.8rem
}

@media screen and (max-width: 450px) {
  .App {
    font-size: .8rem;
  }
  .events-container {
    max-width: 90%;
  }
  .event-container {
    flex-direction: column;
  }
  .event-image-container {
    margin: auto 0;
    margin-left: 0;
    width: 80%;
  }
  .event-image {
    width: 100%;
    height: auto;
  }
}
