@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$gray: #bcbcbc;
$dark-gray: #827272;

.App {
  font-family: 'Lato', sans-serif;
}

.events-container {
  max-width: 50%;
  margin: 0 auto;
  margin-top: 15px;
}

.event-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 10px;
}

.event-info {
  margin: auto 0;
  margin-bottom: 10px;
}

.event-image {
  width: 200px;
  height: 200px;
  margin: auto 0;
}

.event-image-container {
  margin: auto 0;
  margin-left: 15px;
}

h1 {
  color: $dark-gray;
}
